<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/index.css">
    <title>UI COMENTARIO</title>
</head>

<body>
    <div data-text="DESPLIEGUE DE COMENTARIOS CON CSS" class="title-comment">
        DESPLIEGUE DE COMENTARIOS CON CSS     
    </div>
    <div class="comments-container">
        <div class="comment">
            <div class="comment-wrapper">
                <div class="content">
                    <div class="user-photo">
                        <img src="/public/images/ato.jpg" alt="" />
                    </div>
                    <div class="comment-info">
                        <div class="header">
                            <span class="username">@Augusto</span>
                            <span class="date">5 hs ago</span>
                        </div>
                        <div class="text">Este es un comentario</div>
                        <div class="actions">
                            <button>Like</button>
                            <button>Reply</button>
                            <button>Share</button>
                            <button>Follow</button>
                            <button>Report</button>
                        </div>
                    </div>
                </div>
                <div class="replies">
                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/Aldy.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Aldana</span>
                                        <span class="date">2 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/delfi.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Delfi</span>
                                        <span class="date">3 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/ludmi.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Ludmila</span>
                                        <span class="date">15 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="comment-wrapper">
                <div class="content">
                    <div class="user-photo">
                        <img src="/public/images/ato.jpg" alt="" />
                    </div>
                    <div class="comment-info">
                        <div class="header">
                            <span class="username">@Augusto</span>
                            <span class="date">5 hs ago</span>
                        </div>
                        <div class="text">Este es un comentario</div>
                        <div class="actions">
                            <button>Like</button>
                            <button>Reply</button>
                            <button>Share</button>
                            <button>Follow</button>
                            <button>Report</button>
                        </div>
                    </div>
                </div>
                <div class="replies">
                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/Aldy.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Aldana</span>
                                        <span class="date">2 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/delfi.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Delfi</span>
                                        <span class="date">3 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/ludmi.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Ludmila</span>
                                        <span class="date">15 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment">
            <div class="comment-wrapper">
                <div class="content">
                    <div class="user-photo">
                        <img src="/public/images/ato.jpg" alt="" />
                    </div>
                    <div class="comment-info">
                        <div class="header">
                            <span class="username">@Augusto</span>
                            <span class="date">5 hs ago</span>
                        </div>
                        <div class="text">Este es un comentario</div>
                        <div class="actions">
                            <button>Like</button>
                            <button>Reply</button>
                            <button>Share</button>
                            <button>Follow</button>
                            <button>Report</button>
                        </div>
                    </div>
                </div>
                <div class="replies">
                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/Aldy.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Aldana</span>
                                        <span class="date">2 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment">
                        <div class="line"></div>
                        <div class="comment-wrapper">
                            <div class="content">
                                <div class="user-photo">
                                    <img src="/public/images/delfi.jpg" alt="" />
                                </div>
                                <div class="comment-info">
                                    <div class="header">
                                        <span class="username">@Delfi</span>
                                        <span class="date">3 day ago</span>
                                    </div>
                                    <div class="text">Este es un comentario</div>
                                    <div class="actions">
                                        <button>Like</button>
                                        <button>Reply</button>
                                        <button>Share</button>
                                        <button>Follow</button>
                                        <button>Report</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>